{ openAiKey = "your_API_key_here"
, discordBotToken = "your_discord_bot_token_here"
, debugGuildId = "your_guild_id_here"
-- You don't need to change the postgres values but for security
-- you should change the password here and in `./docker-compose.yml`
, postgresHost = "localhost"
, postgresPort = 15432
, postgresUser = "desu"
, postgresPassword = "desu"
, postgresDb = "desu"
}
